<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>

    <div id="app">
        Add: 
        <input type="text" v-model="element" @keyup.enter="addElement()">
        <button @click="addElement()">Add</button>
        Search Filter:
        <input type="text" @input="listElements" v-model="search" placeholder="Search elements" v-if="filter" >
        <br>
        Filter
        <input type="checkbox" v-model="filter">
        <p> {{listElements.length==0 ? 'No hay elementos aún': 'Hay ' + listElements.length + ' elementos'}}</p>
        <p v-if="filter">Tienes {{countElements}} tareas pendientes de: {{listElements.length}}</p>
        <ul>
            <li v-for="(element, index) in filterElements" :key="element.date">
                <input type="checkbox" v-model="element.done" @input="changeDoneElement(element)">
                <span @click="changePriority(element)">{{ element }}</span>
                <button @click="deleteElement(element)">delete</button>
            </li>
        </ul>
    </div>

    <script>
        const { createApp } = Vue;

        createApp({
        data() {
            return {
                listElements: [],
                element: '',
                filter: false,
                search: ''
            }
        },

        mounted(){
            this.listElements = JSON.parse(localStorage.getItem("listElements"))
        },

        methods: {
            addElement(){
                this.listElements.push({
                    text: this.element, 
                    priority: 0,
                    date: Date.now(),
                    done: false, 
                }
                );
                localStorage.setItem("listElements", JSON.stringify(this.listElements) );
                this.id++;
                this.element = '';
            },
            
            changeDoneElement(element){
                element.done = true;
                localStorage.setItem("listElements", JSON.stringify(this.listElements) );
            },

            changePriority(element){
                element.priority++;
                if(element.priority >=3){
                    element.priority=0;
                }
                localStorage.setItem("listElements", JSON.stringify(this.listElements) );
            },

            deleteElement(element){
                const index = this.listElements.indexOf(element);
                if (index !== -1) {
                    this.listElements.splice(index, 1);
                }
            }
        },    

        computed:{
            filterElements(){
                let filterArr =  this.listElements.filter(el => el.text.includes(this.search));
                filterArr.sort((a,b) => {
                    return b.priority-a.priority;
                });
                return filterArr;
            },

            countElements(){
                return this.listElements.filter(el => !el.done).length;
            }
        }
    
        }).mount('#app')
    </script>
</body>
</html>